@font-face {font-family: "Inter"; src: url(assets/fonts/static/Inter-Regular.ttf);}
@font-face {font-family: "InterBold"; src: url(assets/fonts/static/Inter-Bold.ttf);}
@font-face {font-family: "InterExtra"; src: url(assets/fonts/static/Inter-ExtraBold.ttf)}

/*setting general appearence*/
body{
    padding: 130px;
    padding-top: 10px;
    margin: 0px;
}
p{
    font-size: 15px;
}


/*working with the top menu (w+links)*/
.menu{
    display: flex;
    margin: 0px;
    margin-bottom: 20px;
}
/*w*/
.menu > h1{
    flex: 1;
    font-weight: 800;
    font-size: 40pt;
    margin: 0px;
    color: hsl(240, 100%, 5%);
}
/*links*/
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    margin: 20px;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
    transition: 500ms;
    font-family: "Inter";
}
a:hover{
    color: hsl(5, 85%, 63%);
}


/*working with the main part of the page (image+button+text+new)*/
.maindiv{
    display: flex;
}
/*working with image and button and text*/
.readmore{
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.readmore > img{
    width: 100%;
}
.moretext{
    display: flex;
}
.moretext > h1{
    width: 50%;
    color: hsl(240, 100%, 5%);
    font-family: "InterExtra";
    font-size: 30pt;
    font-weight: 800;
}
.moretext > div{
    margin-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.moretext > div > p{
    color: hsl(236, 13%, 42%);
    font-family: "Inter";
}
button{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    justify-self: flex-end;
    letter-spacing: 3px;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
    transition: 500ms;
    font-family: "InterBold";
}
button:hover{
    background-color: hsl(240, 100%, 5%);
}
/*working with new tab*/
.new{
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
}
.new > h2{
    margin: 0px;
    color: hsl(35, 77%, 62%);
    font-size: 30pt;
    font-weight: 800;
    font-family: "InterBold";
}
.new > div > h3{
    margin: 0px;
    margin-top: 20px;
    color: white;
    font-size: 16pt;
    font-weight: 800;
    cursor: pointer;
    transition: 500ms;
    font-family: "InterBold";
}
.new > div > h3:hover{
    color: hsl(35, 77%, 62%);
}
.new > div > p{
    color: hsl(236, 13%, 42%);
    font-family: "Inter";
}
.hydrogen-fueled, .downsides{
    border-bottom: 1px hsl(236, 13%, 42%) solid;
}


/*working with bottomdiv (images01,02,03 and texts)*/
.bottomdiv{
    margin-top: 40px;
    display: flex;
}
.bottomdiv > div{
    flex: 1;
    display: flex;
}
.bottomdiv > div > img{
    width: 100px;
}
.btext > h2, .btext > h3, .btext > p{
    margin: 0px;
}
.btext{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    flex: 1;
}
.btext > h2{
    font-size: 20pt;
    font-weight: 800;
    color: hsl(236, 13%, 42%);
    font-family: "InterExtra";
}
.btext > h3{
    font-size: 16pt;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    cursor: pointer;
    transition: 500ms;
    font-family: "InterBold";
}
.btext > h3:hover{
    color: hsl(5, 85%, 63%);
}
.btext > p{
    color: hsl(236, 13%, 42%);
    font-family: "Inter";
}
.o3 > .btext{
    padding-right: 0px;
}
